.form-input {
  box-sizing: border-box;
  flex: 50%;
  padding-bottom: 15px;
  &:first-child {
    padding-right: 32px;
  }

  input {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    background-color: #fafafa;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #737373;
  }
}
