.button {
  background-color: #595959;
  color: #e0e0e0;
  padding: 10px 20px;
  font-size: 20px;
  line-height: 24px;
  width: 80%;
  width: 320px;
  cursor: pointer;

  &:hover {
    background-color: #e0e0e0;
    color: #595959;
  }
}

.right {
  float: right;
}

@media screen and(max-width: 768px) {
  .button {
    padding: 8px 16px;
    font-size: 16px;
    line-height: 20px;
    width: 100%;
    max-width: 220px;
    cursor: pointer;
  }
}
