.cart-dropdown {
  position: absolute;
  top: 70px;
  right: 0;
  background-color: #fff;
  width: 394px;
  max-height: 555px;
  padding: 45px 32px 24px 32px;
  overflow: auto;
  margin-bottom: 24px;

  &__title {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 40px;

    button {
      background-color: transparent;
      border: none;
      float: right;

      svg {
        fill: rgb(233, 10, 10);
      }
    }
  }

  &__total {
    margin-top: 25px;

    &--first {
      border-top: 1px solid #c4c4c4;
      border-bottom: 1px solid #c4c4c4;
      font-size: 12px;
      padding-top: 25px;
      padding-bottom: 25px;

      .subtotal {
        margin-bottom: 5px;
      }

      span {
        float: right;
        color: #999;
      }
    }

    &--second {
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;

      span {
        float: right;
      }
    }
  }
}
