.gallery {
  padding-right: 22px;
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);

  &__image {
    align-self: center;
    text-align: center;
  }

  &__list {
    padding-top: 12px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 5px;

    &-item {
      list-style: none;

      img {
        width: 100%;
        transition: opacity 0.3s ease;
        cursor: pointer;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .gallery {
    padding-right: 0;
  }
}
