.startpage {
  background-color: #f5f7f6;
  padding-top: 52px;
  padding-bottom: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.startpage1 {
  display: grid;
  grid-template-columns: repeat(7, 1fr) 30px repeat(7, 1fr);

  img {
    width: 100%;
  }

  &__menu {
    &-1 {
      grid-column: 2/8;
      grid-row: 1/6;
    }

    &-2 {
      padding-top: 3rem;
      grid-column: 5/8;
      grid-row: 5/8;
    }

    &-3 {
      grid-column: 9/15;
      grid-row: 2/7;
    }

    &-4 {
      padding-top: 0.5rem;
      grid-column: 9/12;
      grid-row: 6/9;
    }

    &-5 {
      padding-top: 10rem;
      grid-column: 2/12;
      grid-row: 12/15;
      align-self: start;
    }

    &-6 {
      margin-top: 5rem;
      grid-column: 5/15;
      grid-row: 14/17;
    }
  }
}

.spanRight {
  text-align: right;
}

@media screen and(min-width:600px) and(max-width: 780px) {
  .startpage1 {
    display: grid;
    grid-template-columns: 50px repeat(6, 1fr) 50px;

    &__menu {
      &-1 {
        grid-column: 2/8;
        grid-row: 1/6;
      }

      &-2 {
        grid-column: 5/8;
        grid-row: 5/8;
      }

      &-3 {
        padding-top: 4em;
        grid-column: 2/8;
        grid-row: 9/15;
      }

      &-4 {
        padding-top: 3rem;
        grid-column: 2/5;
        grid-row: 14/17;
      }

      &-5 {
        grid-column: 2/8;
        grid-row: 17/20;
        //margin-bottom: 3rem;
      }

      &-6 {
        //margin-top: 3rem;
        grid-column: 2/8;
        grid-row: 21/23;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .startpage {
    padding-bottom: 50px;
  }
  .startpage1 {
    display: grid;
    grid-template-columns: 50px repeat(6, 1fr) 50px;

    &__menu {
      &-1 {
        grid-column: 2/8;
        grid-row: 1/6;
      }

      &-2 {
        grid-column: 5/8;
        grid-row: 5/7;
      }

      &-3 {
        padding-top: 3em;
        grid-column: 2/8;
        grid-row: 9/15;
      }

      &-4 {
        grid-column: 2/5;
        grid-row: 14/17;
      }

      &-5 {
        grid-column: 2/8;
        grid-row: 16/19;
      }

      &-6 {
        grid-column: 2/8;
        grid-row: 19/23;
        align-self: start;
      }
    }
  }
}
